*{
    margin: 0px;
    padding: 0px;
}
body *{
    outline: 1px solid pink;
}
h2{
    margin-bottom: 10px;
}
h3{
    margin-bottom: 10px;
}
.mb-5{
    margin-bottom: 5%;
}
.mb-10{
    margin-bottom: 10%;
}
.wrapper{
    width: 1200px;
    min-height: 4000px;
    margin: 0px auto;
}
.header{
    padding: 15px;
}
    .header img{
        width: 100px;
        margin: 0px 100px;
        vertical-align: middle;
        display: inline-block;
    }
    .header .navbar{
        width: 685px;
        color: #969696;
        display: inline-block;
    }
        .header .navbar ul li{
            padding: 20px;
            display: inline;
        }
        .header .navbar a{
            color: #969696;
            text-decoration: none;
        }
        .header .navbar a:hover{
            text-decoration: underline ;
        }
.mainBanner{
    width: 1200px;
    height: 390px;
    background-image: url(/img/semilla.jpg);
}
.bloque1{
    min-height: 50px;
}
    .bloque1 p{
        margin: 0% 10%;
    }
.bloque2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    .bloque2 img{
        width: 150px;
    }
.bloque3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    .bloque3 .left{
        height: 420px;
        background-image: url(/img/metodo.JPG);
        vertical-align: top;
        display: inline-block;
    }
    .bloque3 .right{
        background-image: url(/img/fondo.jpg);
        display: inline-block;
    }
.bloque4{
    width: 840px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
    .bloque4 .top{
        grid-column: 1 / span 3;
    }
    .bloque4 .servicios{
        margin: 5%;
        padding: 3%;
    }
.bloque5{
    margin: 0px auto;
    padding: 5%;
}
    .bloque5 img{
        width: 470px;
    }
    .bloque5 .top{
        margin-bottom: 30px;
    }
    .bloque5 .left{
        width: 500px;
        display: inline-block;
    }
    .bloque5 .right{
        width: 500px;
        text-align: left;
        vertical-align: top;
        display: inline-block;
    }
.bloque6{
    margin: 0px auto;
    padding: 5%;
}
    .bloque6 .equipo{
        width: 400px;
        padding: 0% 5%;
        vertical-align: top;
        display: inline-block;
    }
    .bloque6 .foto{
        height: 240px;
        margin-bottom: 10px;
        border-radius: 50%;
    }
    .bloque6 ul li{
        display: inline;
    }
        .bloque6 ul li img{
            height: 35px;
            margin: 0px 5px;
        }
.bloque7{
    width: 1200px;
    height: 430px;
    background-image: url(/img/fondo2.jpg);
}
    .bloque7 .top{
        padding: 30px;
        display: block;
    }
    .bloque7 .prev{
        width: 45px;
        height: 45px;
        margin-top: 10%;
        background-image: url(/img/iconos/slider/ecomunidad-15.png);
        float: left;
        margin-left: 30px;
    }       
    .bloque7 .next{
        width: 45px;
        height: 45px;
        margin-top: 10%;
        background-image: url(/img/iconos/slider/ecomunidad-16.png);
        float: right;
        margin-right: 30px;
    }
    .bloque7 .slider{
        margin: 0px auto;
    }
        .bloque7 .slider a{
            text-decoration: none;
            text-align: left;
            color: rgb(83, 88, 95);
        }
        .bloque7 .slider a:hover{
            color: #5E8039;
        }
        .bloque7 .slider .content{
            width: 250px;
            margin: 0px 40px;
            vertical-align: top;
            display: inline-block;
        }
            .bloque7 .slider .content img{
                width: 250px;
            }
