*{
    margin: 0px;
    padding: 0px;
}
/* body *{
    outline: 1px solid pink;
} */
h2{
    margin-bottom: 10px;
}
.wrapper{
    width: 1200px;
    min-height: 4000px;
    margin: 0px auto;
}
.header{
    padding: 15px;
}
    .header img{
        width: 100px;
        margin: 0px 100px;
        vertical-align: middle;
        display: inline-block;
    }
    .header .navbar{
        width: 685px;
        color: #969696;
        display: inline-block;
    }
        .header .navbar ul li{
            padding: 20px;
            display: inline;
        }
        .header .navbar a{
            color: #969696;
            text-decoration: none;
        }
        .header .navbar a:hover{
            text-decoration: underline ;
        }
.mainBanner{
    width: 1200px;
    height: 390px;
    background-image: url(/img/semilla.jpg);
}
.bloque1{
    min-height: 50px;
}
    .bloque1 p{
        margin: 0% 10%;
    }
.bloque2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
    .bloque2 img{
        width: 150px;
    }
.bloque3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    .bloque3 .left{
        height: 420px;
        background-image: url(/img/metodo.JPG);
        vertical-align: top;
        display: inline-block;
    }
    .bloque3 .right{
        background-image: url(/img/fondo.jpg);
        display: inline-block;
    }